/**
 * Environment configs
 * @exports node.js module
 */
var config = {};

//
// REPLACE VALUES BELOW WITH CUSTOM CONFIGURATIONS
//

// Use your host and database name here
config.dbHost = "mongodb://localhost:3001/reservation_system";

// Google api developer key
config.developerKey = "###########################";

// Google auth clientId
config.clientId = "";

// Google auth client_secret
config.clientSecret = "";

// Google auth api "login_hint"
config.loginHint = "";

// Google auth redirectUrl
config.redirectUrl = "";

// Cypto hash method, one of {'sha1', 'md5', 'sha256', 'sha512'}
config.hashMethod = "md5";

// Some secret random string
config.mySecretKey = "safewpfwpeoajf-i33awf3a2f-3ai0-iw3-0i-0eiai-0dsi0-sdi-if-0ewi0f-wier0-i3g89sjg8eg8e";

// Port the web server will listen on
config.serverPort = 8000;

module.exports = config;