/**
 * Environment configs
 * @exports node.js module
 */
var config = {};

//
// REPLACE VALUES BELOW WITH CUSTOM CONFIGURATIONS
//

// Use your host and database name here
config.dbHost = "mongodb://localhost:3001/reservation_system";

// Google api developer key
config.developerKey = "###########################";

// Port the web server will listen on
config.serverPort = 8000;

module.exports = config;