.add-attendee-input{
    font-size:28px;
    font-family: 'Noto Serif', serif;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 5px;
    outline: none;
    margin-right: 40px;
}

.attendee-name{
    letter-spacing: 3px;
    font-size: 30px;
}

.attendee-table{
    width: 100%;
}

.attendees-header{
    font-size: 22px;
    letter-spacing: 2px;
    float: left;
}

.email-attendee{
    background-image: url('../img/email-send.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
    opacity: 0.4;
    float:right;
}

.email-attendee:hover{
    opacity: 1;
}