@media only screen and (min-width: 1501px) {
    .banner-width{
        width: 38%;
    }

    .banner-height{
        height: 215px;
    }

    .banner-content > li{
        height: 30px;
    }
}

@media only screen and (max-width: 1500px) {
    .banner-width{
        width: 38%;
    }

    .banner-height{
        height: 215px;
    }

    .banner-content > li{
        height: 30px;
    }
}

.attendee{
    margin-left: 10px;
    color:black;
    border-bottom: solid #000000 1px;
    font-size: 120%;
}

.banner-content{
    height: 50px;
    list-style-type:none;
    padding-left: 0;
    text-align: left;
}


.banner-container{
    background-color: red;
    height: 247px;
    background-color: rgba(245,245,246,0.8);
    border: solid 1px black;
    margin-left: 20px;
}

.banner-left{
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: rgba(245,245,246,0.8);
    z-index: 10;
    font-size: 115%;
    color:rgba(111,1,1,0.9);
    display: inline-table;
    position: fixed;
}

.banner-right{
    width: 44%;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: rgba(245,245,246,0.8);
    z-index: 10;
    margin-left: 53%;
    position: fixed;
    color:rgba(111,1,1,0.9);
    float:right;
    display: inline-table;
    margin-right: 20px;
    padding-left: 17px;
    padding-right: 10px;
}

.current-date-info{
    margin-top: 20px;
}

.current-date-label{
    font-size: 120%;
    width: 25%;
    display: inline;
    margin-right: 5px;
}

.current-date{
    color:rgba(8,8,78,0.87);
    display: inline;
    font-size: 110%;
    font-family: serif;
    text-shadow: 2px 2px rgba(188,188,188,0.1);
    letter-spacing: 1.6px;

}

.git-link{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color:rgba(8,8,78,0.87);
    display: block;
    font-size: 70%;
    text-shadow: 2px 2px rgba(188,188,188,0.8);
}

.logo{
    width:70px;
    height:40px;
    z-index: 9005;
    display: inline;
    margin-bottom: -6px;
}

.main-title{
    display: inline;
    font-size:35px;
}

.powered-by-google{
    background-image:url('../img/powered-by-google-on-white.png');
    width: 104px;
    height: 16px;
    background-size: 100%;
    display: inline-block;
    vertical-align: text-bottom;
}

.spin-component{
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg); /* Safari and Chrome */
    -webkit-transition:0.88s all;
    -moz-transition:0.88s all;
    -ms-transition:0.88s all;
    transition:0.88s all;
    perspective-origin: 50% 50%;
}

.selection-header{
    font-size: 180%;
    margin: 0;
}

.selection-header > span{
    cursor: pointer;
}

.selection-header > span:hover{
    color: rgba(111,112,139,1);
}

.selected-date{
    font-size: 130%;
    color:rgba(8,8,78,0.87);
    font-weight:300;
    margin-right: 5px;
}


.selected-place{
    font-size: 184%;
    font-style: oblique;
    letter-spacing: 2px;
    font-style: italic;
    font-weight:200;
}



