@media only screen and (min-width: 1501px) {
    .banner-height{
        height: 225px;
    }

    .banner-content > li{
        margin-bottom: 5px;
        height: 20px;
    }
}

@media only screen and (max-width: 1500px) {
    .banner-height{
        height: 255px;
    }

    .banner-content > li{
        margin-bottom: 15px;
        height: 15px;
    }
}

.attendee{
    margin-left: 10px;
    color:black;
    border-bottom: solid #000000 1px;
    font-size: 120%;
}

.banner-content{
    height: 50px;
    list-style-type:none;
    padding-left: 0;
    text-align: left;
}

.banner-left{
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 10px rgba(10,10,10,0.86);
    background-color: rgba(245,245,246,0.8);
    z-index: 10;
    width: 40%;
    font-size: 138%;
    color:rgba(111,1,1,0.9);
    display: inline-table;
    position: fixed;
}

.banner-right{
    padding-bottom: 10px;
    box-shadow: 2px 2px 10px rgba(10,10,10,0.8);
    background-color: rgba(245,245,246,0.8);
    z-index: 10;
    margin-left: 50%;
    position: fixed;
    color:rgba(111,1,1,0.9);
    float:right;
    display: inline-table;
    width: 42%;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.current-date-info{
    margin-top: 20px;
}

.current-date-label{
    font-size: 120%;
    width: 25%;
    display: inline;
    margin-right: 5px;
}

.current-date{
    color:rgba(8,8,78,0.87);
    display: block;
    font-size: 110%;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 2px 2px rgba(188,188,188,0.8);
}

.logo{
    width:70px;
    height:40px;
    z-index: 9005;
    display: inline;
    margin-bottom: -6px;
}

.main-title{
    display: inline;
    font-size:45px;
}

.powered-by-google{
    background-image:url('../img/powered-by-google-on-white.png');
    width: 104px;
    height: 16px;
    background-size: 100%;
    display: inline-block;
    vertical-align: text-bottom;
}

.spin-component{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg); /* Safari and Chrome */
    -webkit-transition:1.88s all;
    -moz-transition:1.88s all;
    -ms-transition:1.88s all;
    transition:1.88s all;
    perspective-origin: 50% 50%;
}

.selected-date{
    font-size: 134%;
    color:rgba(8,8,78,0.87);
    letter-spacing: 2px;
    font-style: italic;
    font-weight:900;
    margin-right: 6%;
}

.reserve{
    margin-top: 21px;
}

.reserve:hover{
    transform: scale(0.95,0.95);
    -ms-transform: scale(0.95,0.95);
    -webkit-transform: scale(0.95,0.95);
    -webkit-transition:1.88s all ease-in;
    -moz-transition:1.88s all ease-in;
    -ms-transition:1.88s all ease-in;
    letter-spacing: 1px;
}

.selected-place{
    font-size: 134%;
    color:rgba(8,8,78,0.87);
    font-style: oblique;
    letter-spacing: 2px;
    font-style: italic;
    font-weight:900;
}



