.better-time-picker{
    width: 300px;
    height: 400px;
    background-color: rgba(11,11,11,0.6);
    color:#ffffff;
    margin-left: 123px;
    margin-top: 25px;
}

.highlighted{
    color: rgba(250,10,10,4);
}

.hour{
    cursor: pointer;
    position: absolute;
    color:black;
    font-size: 22px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.hours-circle{
    width:200px;
    height:200px;
    border-radius:100px;
    position:relative;
    left:42px;
    top:175px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hour:hover{
    color: red;
    font-weight: 900;
    background-color: darkgrey;
    border-radius: 50px;
}

.selected-hour{
    font-size: 66px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 20%;
}

.selected-minute{
    font-size: 66px;
    cursor: pointer;
    font-weight: 500;
}

.selected-am-pm-toggle{
    cursor: pointer;
    font-weight: 500;
}

.time-header{
    float: right;
    background-color: rgba(11,11,11,0.4);
    width: 300px;
    height: 100px;
    padding-top: 20px;
    font-size: 27px;
}