.better-time-picker{
    width: 300px;
    height: 400px;
    background-color: rgba(11,11,11,0.6);
    color:rgba(98, 98, 98, 1);
    text-shadow: 1px 1px 3px rgba(215, 215, 233, 1);
    margin-top: 25px;
    box-shadow: 2px 2px 10px rgba(10,10,10,0.8);
}

.highlighted{
    color: rgba(86,1,1,0.89);
}

.hour{
    cursor: pointer;
    position: absolute;
    color:white;
    font-size: 250%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px;
}

.hours-circle{
    width:200px;
    height:200px;
    border-radius:100px;
    position:relative;
    left:22px;
    top:135px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hour:hover{
    color: rgba(111,1,1,0.9);
    font-weight: 900;
    border-radius: 50px;
}

.selected-hour{
    font-size: 66px;
    cursor: pointer;
    font-weight: 500;
    margin-left:15%;
}

.selected-minute{
    font-size: 66px;
    cursor: pointer;
    font-weight: 500;
}

.selected-am-pm-toggle{
    cursor: pointer;
    font-weight: 500;
}

.time-header{
    float: right;
    background-color: rgba(245,245,246,0.8);
    width: 300px;
    height: 100px;
    padding-top: 20px;
    font-size: 27px;
    font-family: monospace times;
}

.time-header > span{
    font-weight: 900;
}

.time-header > span:hover{
    color: rgba(111,1,1,0.9);
}