.cool-time-picker{
    padding: 20px;
    font-size: 2em;
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.cool-time-picker:hover{
  color: rgba(111,1,1,0.9);
    font-size: 3em;
    font-weight: 900;
}

.dayOfMonth{
    vertical-align: super;
}

.date-picker{
    display: inline-table;
    width: 39%;
    padding-left: 30px;
}

.day-picker-size{
    width: 400px;
}

.floatingTile:hover{
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transition:0.38s all;
    font-style: normal;
}

.day-picker > li:nth-child(-n+7){
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    color:  rgba(86,1,1,0.89);
    cursor: default;
    font-family: monospace times;
    height:10px;
    font-weight: 700;
    font-style: normal;
}

.day-floating-tile{
    -webkit-box-shadow:5px 7px 20px rgba(15, 15, 15, 0.8);
    -moz-box-shadow:5px 7px 20px rgba(15, 15, 15, 0.8);
    box-shadow:5px 7px 20px rgba(15, 15, 15, 0.8);
    padding:12px;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 10px;
    display:inline-table;
    cursor:pointer;
    width: 35px;
    height:35px;
    text-align: right;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Fjalla One', sans-serif;
}

.day-floating-tile:not(.day-selected){
    background-color:#e2ded5;
    color: #801a06;
}

.day-selected{
    background-color:#801a06;
    color: #e2ded5;
    font-weight: 900;
}

.floatingTile {
    #width: 35px;
    #height: 35px;
    padding: 5px;
}

.minute-picker{
    height: 50px;
    cursor: pointer;
    width: 80%;
    cursor: pointer;
    width:70%;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
}

.month-name{
    padding: 2px 22px 2px 0px;
    font-size: 23px;
    position: absolute;
    z-index: 3001;
}

.month-name:hover{
    color: red;
}

.month-picker {
    height: 25px;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 500px;
    margin-left: 11px;
    position: relative;
    z-index: 1111;
}

.month-picker > * {
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition:0.28s all;
    -moz-transition:0.28s all;
    -ms-transition:0.28s all;
    transition:0.28s all;
    font-family: "Times New Roman";
}

.month-picker > span{
    font-size: 176%;
    font-style: oblique;
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
    padding: 2px 10px 0 5px;
    margin-left: 3px;
    height: 30px;
}

.month-picker > span:not(.month-selected){
    color: dimgray;
    border: solid transparent 1px;
    width: 20px;
}

.month-selected{
    width: 20px;
    color: rgba(111,1,1,0.9);
    cursor: pointer;
    font-weight: 900;
    margin:0px;
    height:80px;
}

.month-name{
    display: none;
}

.month-selected > span{
    display: block;
}



.month-picker > span:not(.month-selected):hover{
    color:rgba(111,1,1,0.9);
    cursor: pointer;
}

.selected-tile{
    -webkit-box-shadow:0px 12px 15px rgba(11, 11, 11, 0.4), 0 0 10px rgba(220, 10, 120, 1) inset;
    -moz-box-shadow:0px 12px 15px rgba(11, 11, 11, 0.4), 0 0 10px rgba(220, 10, 120, 1) inset;
    box-shadow:0px 12px 15px  rgba(11, 11, 11, 0.4), 0 0 10px rgba(220, 10, 120, 1) inset;
    padding: 3px;
    color:white;
    background-color: #000014;
    font-weight: 400;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition:0.38s all;
    -moz-transition:0.38s all;
    -ms-transition:0.38s all;
    transition:0.38s all;
}


ul{
    padding: 0;
}