
.floatingTile {
    background-color: rgba(20,20,20,0.7);
    width: 6%;
    height: 4%;
    padding: 5px;
    color:#ffffff;
}

.date-picker{
    display: inline-block;
    width: 100%;
}


.floatingTile:hover{
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition:0.38s all;
    background-color: rgba(111,1,1,0.9);
}

.day-floating-tile{
    -webkit-box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4);
    -moz-box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4);
    box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4);
    font-family: sans-serif;
    font-size: 140%;
    -webkit-transition:0.28s all;
    -moz-transition:0.28s all;
    -ms-transition:0.28s all;
    transition:0.28s all;
    padding:12px;
    margin: 10px;
    display:inline-table;
    float:left;
    cursor:pointer;
    font-weight: 800;
}

.selected-tile{
    -webkit-box-shadow:0px 12px 15px rgba(11, 11, 11, 0.4), 0 0 10px rgba(220, 10, 120, 1) inset;
    -moz-box-shadow:0px 12px 15px rgba(11, 11, 11, 0.4), 0 0 10px rgba(220, 10, 120, 1) inset;
    box-shadow:0px 12px 15px  rgba(11, 11, 11, 0.4), 0 0 10px rgba(220, 10, 120, 1) inset;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    padding: 3px;
    color:white;
    background-color: #000014;
    font-weight: 400;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition:0.58s all;
    -moz-transition:0.58s all;
    -ms-transition:0.58s all;
    transition:0.58s all;
}

.minute-picker{
    height: 50px;
    cursor: pointer;
    width: 80%;
    cursor: pointer;
    width:100%; height:30px; cursor: pointer;
}

.month-picker {
    height: 66px;
}

.month-picker > * {
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition:0.58s all;
    -moz-transition:0.58s all;
    -ms-transition:0.58s all;
    transition:0.58s all;
    font-family: "Arial Black", Gadget, sans-serif;
}

.month-picker > span{
    border-bottom: solid rgba(0,0,0,0.2) 2px;
    font-size: 230%;
    margin-left: 5px;
    font-style: oblique;
    font-weight: 900;
}

.month-selected{
    color: rgba(8,8,78,0.87);
    color:steelblue;
    cursor: pointer;
    border-bottom: solid rgba(1,1,1,1) 2px;
    font-weight: 900;
}

.day-selected{
    background-color: rgba(86,1,1,0.89);

}

.month-picker > span:hover{
    color:steelblue;
    cursor: pointer;
    border-bottom: solid rgba(0,0,0,0.8) 2px;
}

.time-picker-table{
    height: 50px;
    margin-top: -20px;
}

.time-indicator{
    font-size: 9px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 3px;
}

.time-indicator:hover{
    border-bottom: solid #000000 1px;
}

