
.area{
    font-size: 160%;
    font-style: italic;
    font-weight: 700;
    line-height: 25px;
}

.map-canvas{
    margin: 10px;
    z-index: 0;
    width: 590px;
    height: 200px;
}

.phone-number{
    font-size: 200%;
    color: rgba(8,8,78,0.87);
    font-weight: 900;
    font-style: italic;
    margin-top: 10px;
    letter-spacing: 5px;
    width: 272px;
}

.rating{
    font-size: 250%;
    display: inline;
    text-shadow: 2px 2px rgba(100,100,100,0.1);
    font-family: Verdana, Geneva, sans-serif;
    color: rgba(100,100,100,0.1);
}

.ratings{
    margin-right: 20px;
}

.rating-positive{
    color: black;
    font-weight: 900;
}

.refresh{
    background-image:url('../img/refresh.png');
    width: 40px;
    height:40px;
    background-size: 100%;
    float:right;
    margin-right: 20px;
}

.refresh:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transition:0.88s all;
    -moz-transition:0.88s all;
}

