.city-search{
    font-size:30px;
    padding: 10px;
    font-family: 'Noto Serif', serif;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 5px;
    outline: none;
    width: 180px;
}

.city-result{
    cursor: pointer;
    margin: 20px;
    -webkit-transition: 1.3s all;
    -moz-transition: 1.3s all;
    -ms-transition: 1.3s all;
    transition: 1.3s all;
}

.city-result:hover{
   font-size: 200%;

}

.bank{
    background-image: url('../img/atm.png');;
}

.car_repair{
    background-image: url('../img/car-repair.png');;
}

.food{
    background-image: url('../img/food.png');;
}

.store{
    background-image: url('../img/store.png');;
}

.find{
    background-image:url('../img/find-hover.png');
    background-size: 100%;
    display: inline-block;
    -webkit-transition: 1.3s all;
    -moz-transition: 1.3s all;
    -ms-transition: 1.3s all;
    transition: 1.3s all;
    cursor: pointer;
}

.found-places{
    overflow: hidden;
    width:100%;
    margin: 0;
}

.found-place-types{
    height: 75px;
    overflow: hidden;
}

.place-icon{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.place-header{
    display: inline;
    letter-spacing: 2px;
    width: 50%;
    font-size: 25px;
    color:rgba(111,1,1,0.9);
    margin-top: 20px;
}

.place-result-modify{
    background-color: lightblue;
    font-style: italic;
    font-weight: 900;
    color: rgba(30,19,19,0.7);
}

.place-result-modify:not(.place-selected):hover{
    background-color: rgba(111,1,1,0.8);
    color: whitesmoke;
}

.place-search{
    width: 33%;
    display: inline-table;
    padding: 0;
    padding-right: 45px;
}

.place-selected{
    height: 330px;
    box-shadow: 2px 2px 5px #888888;
    color: rgba(111,1,1,0.9);
    font-weight: 300;
    padding: 5px;
    background-color:#F0EDE5;
}

.place-type{
    width:45px;
    height:45px;
    display: inline-block;
    background-color: transparent;
    background-size: 100%;
    margin-top: 13px;
    margin-right: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.place-type:hover{
    #background-color: transparent;
    -webkit-box-shadow:0px 3px 8px rgba(130, 55, 55, 0.4);
    -moz-box-shadow:0px 3px 8px rgba(130, 55, 55, 0.4);
    box-shadow:0px 3px 8px rgba(130, 55, 55, 0.4);
}

.place-search-input{
    font-size:20px;
    padding: 8px;
    font-family: 'Noto Serif', serif;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    outline: none;
    width: 180px;
}

td{
    vertical-align: top;
}

.place-table{
    margin-bottom: -58px;
    width: 631px;
    margin-left: 18px;
}

.place-result-color{
    color:rgba(111,1,1,0.9);
}

.place-result:not(.place-selected){
    height: 35px;
}

.place-result{
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    margin-top: 2px;
    padding-right: 0;
    text-align: center;
    background-color:rgba(200,222,211,0.2);
    display: inline-table;
    margin-right: 10px;
    cursor: pointer;
}

.stripe{
    background-color: red;
}

.place-result-color:not(.place-selected):hover{
    background-color: rgb(26,98,177);
    color:white;
}

.place-type-search{
    font-size:30px;
    padding: 10px;
    font-family: 'Noto Serif', serif;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 5px;
    outline: none;
    width:120px;
}




