
.selected-date-reservation{
    width: 50%;
    font-size: 20px;
}

.selected-date-label{

}

.duration{
    width:50%;
    font-size: 20px;
    float: right;
}

.requestedTime{
    width: 100%
}

.reservation-label{
    width: 50%;
    font-size: 20px;
    font-style: oblique;
}

.reservation-input{
    padding: 10px;
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    width: 85%;
    outline: none;
    float:right;
    border-radius: 5px;
    margin-right: 20px;
}

.reservation-place-name{
    font-size: 150%;
    color: darkred;
    cursor: pointer;
}

.reservation-place-name:hover{
    font-style: oblique;
    font-weight:900;
}

.reservation-row{
    height: 90px;
}

.reservation-table{
    width:500px;
    margin-left:5%;
    margin-right:5%;
}

.reservation-list{
    list-style: none;
}

.reserve{
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
    text-align: center;
    float: left;
    -webkit-transition:1.28s all;
    -moz-transition:1.28s all;
    -ms-transition:1.28s all;
    transition:1.28s all;
    height: 35px;
}

.reserve:hover{
    background-color: rgba(111,1,1,0.9);;
    color: white;
    -webkit-transition:0.78s all;
    -moz-transition:0.78s all;
    -ms-transition:0.78s all;
    transition:0.78s all;
}

.reservation-input:hover{
    cursor: pointer;
    background-color: rgba(111,1,1,0.9);
    color: white;
}