
.selected-date-reservation{
    width: 50%;
    font-size: 20px;
}

.duration{
    width:50%;
    font-size: 20px;
    float: right;
}

.requestedTime{
    width: 100%
}

.reservation-label{
    width: 50%;
    font-size: 20px;
    font-style: oblique;
}

.reservation-input{
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    color:black;
    width: 85%;
    outline: none;
    float:right;
    margin-right: 20px;
    margin-top: 15px;
    padding: 0;
}

.reservation-place-name{
    font-size: 150%;
    color: darkred;
    cursor: pointer;
}

.reservation-place-name:hover{
    font-style: oblique;
    font-weight:900;
}

.reservation-row{
    height: 90px;
}

.reservation-table{
    width:500px;
    margin-left:5%;
    margin-right:5%;
}

.reservation-list{
    list-style: none;
}

.reserve{
    width: 250px;
    cursor: pointer;
    text-align: center;
    float: left;
    height: 25px;
}

.reserve:hover{
    color: white;
    -webkit-transition:1.78s all;
    -moz-transition:1.78s all;
    -ms-transition:1.78s all;
    transition:1.78s all;
}

.reservation-input:hover{
    cursor: pointer;
    background-color: rgba(111,1,1,0.9);
    color: white;
}