.current-user{
    float: right;
    font-size:30px;
    padding: 10px;
    font-family: 'Noto Serif', serif;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 5px;
    outline: none;
    width: 220px;
}

.sign-in-with-google{
    background-image:url("../img/sign-in-with-google.png");
    background-size: 100%;
    width: 150px;
    height: 28px;
    margin-left: 20%;
    float: right;
    margin-right: 5px;
}

#login