
<span ng-controller="bannerController" ng-init="startTime()" class="banner banner-left banner-height banner-width">
    <embed src="img/calendar.svg" class="logo" type="image/svg+xml"/>
    <h1 class="main-title">Reserve The Time</h1>
    <div class="current-date-info">
        <h2 class="current-date-label">The Current Date is </h2>
        <span class="current-date" ng-bind="PageState.currentDate | date:'MMMM dd hh:mm:ss a'"></span>
    </div>
    <a class="git-link" href="https://github.com/paulb896/Express_Anguar_Reservations">
        Source Code <img src="../img/github-icon-small.png">
    </a>
    <div class="powered-by-google"></div>
</span>