<div ng-controller="bannerController" ng-class="{'spin-component': UserSelection.place.name.length > 0}" class="banner banner-right banner-height" ng-init="loadUser()">

    <ul class="banner-content" ng-controller="tileNavigationController">
        <li>
            <div ng-hide="PageState.session.userProfile">
                <% include login.html %>
            </div>
            <div class="user-info" ng-show="PageState.session.userProfile">
                <img class="user-image" ng-src="{{PageState.session.userProfile.image.url}}"/>
                <span>Hello </span><span ng-bind="PageState.session.userProfile.name.givenName">!</span>
            </div>
        </li>
        <li>
            <span class="selected-date" ng-bind="UserSelection.selectedDate | date:'EEEE MMMM d, y  h:mm a'"></span>
        </li>
        <li>
            <span ng-show="UserSelection.place.name" class="selected-place" ng-bind="UserSelection.place.name"></span>
        </li>
        <li ng-show="PageState.session.userProfile" ng-controller="reservationController">
            <span class="reservation-input reserve day-floating-tile" ng-click="reserve();">Remember time and place</span>
        </li>
    </ul>
</div>