<h2>MODIFY SELECTED TIME</h2>
<div ng-controller="betterTimePickerController" ng-init="initializeTime();" class="better-time-picker">
    <div class="time-header">
        <span ng-class="{highlighted: PageState.hourPickerEnabled}" ng-click="setHourPicker()" class="selected-hour" ng-bind="UserSelection.selectedDate | date:'h'"></span> :
        <span ng-class="{highlighted: !PageState.hourPickerEnabled}" ng-click="setMinutePicker()" class="selected-minute" ng-bind="UserSelection.selectedDate | date:'mm'"></span>
        <span ng-click="toggleAmPm()" class="selected-am-pm-toggle" ng-bind="UserSelection.selectedDate | date:'a'"></span>
    </div>
    <div class="hours-circle">
        <div ng-click="setSelectedTime(hour.value);" ng-repeat="hour in PageState.times" class="hour" style="left:{{hour.x}}px; top:{{hour.y}}px;">{{hour.value}}</div>
    </div>
</div>