<% include header.html %>
<div class="banner-full" style="opacity: 0.15; margin-left: -19px;">

</div>
<% include banner.html %>
<div style="height: 320px;"></div>
<span class="body-left">
    <% include tile-place-search.html %>
</span>
<span class="body-right" ng-controller="dayTimeToggleController">
    <div ng-hide="UserSelection.timePickerEnabled">
        <% include tile-date-picker.html %>
    </div>
    <div ng-show="UserSelection.timePickerEnabled">
        <% include better-time-picker.html %>
    </div>
</span>

<% include footer.html %>