<% include header.html %>
<div class="banner-full" style="opacity: 0.2; margin-left: -19px;">

</div>
<% include banner.html %>
<div style="height: 280px;"></div>
<div style="width: 50%; position: absolute; margin-left: 20px; margin-top: 10px;">
    <% include tile-place-search.html %>
</div>
<div style="width: 50%; position: absolute; margin-left: 50%;" ng-controller="dayTimeToggleController">
    <div ng-hide="UserSelection.timePickerEnabled">
        <% include tile-date-picker.html %>
    </div>
    <div ng-show="UserSelection.timePickerEnabled">
        <% include better-time-picker.html %>
    </div>
</div>

<% include footer.html %>