<h2>
    CURRENT USER
</h2>

<div>
    <span>EMAIL</span><input ng-model="PageState.username" type="text" class="current-user"/>
</div>


<a href="https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=306017340293.apps.googleusercontent.com&redirect_uri=http://www.reservethetime.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.me+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.google.com%2Fm8%2Ffeeds">
    <div class="sign-in-with-google">

    </div>
</a>