<div ng-controller="datePickerController" ng-init="initializeDate();" class="date-picker" id="date-picker">
    <div class="month-picker">
        <span class="month-size" ng-class="{true:'month-selected', false:''}[(monthModel.monthNumber)==monthSelected]"
              ng-repeat="(monthNumber, monthModel) in PageState.months" ng-click="setMonth(monthModel.monthNumber);">
            {{monthModel.name}}
            <span class="month-name">{{monthModel.fullName}}</span>
        </span>
    </div>
    <ul class="day-picker day-picker-size" id="day-picker">
        <li ng-class="{true:'day-selected', false:''}[dayModel==UserSelection.selectedDate.getDate()]"
           ng-repeat="dayModel in PageState.days"
           class="floatingTile day-floating-tile"
           ng-class="{true:'selected-tile', false:''}[dayModel==UserSelection.selectedDate]"

           ng-click="updateSelectedDay(dayModel)">
            <span class="dayOfMonth">
              {{dayModel}}
            </span>
        </li>
    </ul>
</div>