<h2>DAYS EVENTS</h2>
<div class="hour-chart" ng-controller="hourChartController" ng-init="initializeHours();">

    <ul class="reservation-list">
        <li ng-repeat="(key,reservation) in PageState.reservations" class="reservation" ng-click="selectReservation(reservation)">
            <div class="update-changes-icon" ng-class="reservation" ng-click="requestedTime.reserve(reservation);"></div>
            <span ng-bind="reservation.place.name"  class="reservation-place-name"></span>
            <span ng-bind="reservation.date| date:'MM/dd/yyyy @ h:mma'"  class="reservation_time"></span>
        </li>
        <li class="reservation current-reservation place-result">
            <div>
                <h2>{{UserSelection.place.name}}</h2>
            </div>
            <span ng-bind="UserSelection.selectedDate| date:'MM/dd/yyyy @ h:mma'"  class="reservation_time"></span>
        </li>
    </ul>
</div>