<div ng-controller="datePickerController" ng-init="initializeDate();" class="date-picker">
    <div class="month-picker">
        <span class="month-size" ng-class="{true:'month-selected', false:''}[monthNumber==UserSelection.selectedDate.getMonth()]"
              ng-repeat="(monthNumber, monthModel) in PageState.months" ng-click="setMonth($index+1);">
            {{monthModel.name}}
        </span>
    </div>
    <ul class="day-picker day-picker-size">
        <li ng-class="{true:'day-selected', false:''}[dayModel==UserSelection.selectedDate.getDate()]"
           ng-repeat="dayModel in PageState.days"
           class="floatingTile day-floating-tile"
           ng-class="{true:'selected-tile', false:''}[dayModel==UserSelection.selectedDate]"
           ng-click="updateSelectedDay(dayModel)">
            <span class="dayOfMonth">
              {{dayModel}}
            </span>
        </li>
    </ul>
</div>