<div ng-controller="placeController" ng-init="getPlaceDetails(UserSelection.place);">
    <div style="position: absolute; z-index: 22;">
        <h2 ng-show="false">{{UserSelection.place.name}} Details</h2>
        <span ng-hide="UserSelection.place.formatted_phone_number" class="refresh" ng-click="getPlaceDetails(UserSelection.place);"></span>
        <div class="area">
            {{UserSelection.place.formatted_address}}
        </div>
        <span class="phone-number">
            {{UserSelection.place.formatted_phone_number}}
        </span>
        <span class="ratings">
            <div class="rating" ng-repeat="n in ratings" ng-class="{'rating-positive': (n <= UserSelection.place.rating)}">&#9734;</div>
        </span>
    </div>
    <div ng-click="getPlaceDetails($event);" class="map-canvas" name="map-canvas" class="map-size"></div>
</div>